<div class="kanban-container">
  <div *ngIf="tasksByStatus$ | async as grouped; else loading" class="kanban-content">
    <h1 class="kanban-title">Kanban Board</h1>
    <button class="create-task-btn" matButton="filled" (click)="openCreateTaskModal()">Create Task</button>
    <div class="columns-container">
      <div *ngFor="let column of columns" cdkDropList [cdkDropListData]="grouped[column]"
        [cdkDropListConnectedTo]="columns" [id]="column" (cdkDropListDropped)="drop($event)"
        class="column">

        <h3 class="column-title">{{ taskStatusLabels[column] }}</h3>

        @if(grouped[column].length === 0) {
          <div class="empty-state">No tasks</div>
        } @else {
          @for(task of grouped[column]; track trackByTask($index, task)){
            <div cdkDrag (click)="openEditTask(task)" class="task-card">
              <strong class="task-title">{{ task.title }}</strong>
              <div class="task-assigned">{{ task.assignedToName }}</div>
              <div class="task-priority">{{ task.priority }}</div>
              <div class="task-description">{{ task.description }}</div>
              <div class="task-date">{{ task.dueDate | date}}</div>
              <button matButton="outlined" class="delete-button" (click)="deleteTask(task); $event.stopPropagation()">
                Delete
              </button>
            </div>
          }
        }
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-state">Loading tasks...</div>
  </ng-template>
</div>